@section Title {
    Info Dipendente
}

<div>
    <ul>
        <li>Nome: @Model.Nome</li>
        <li>Cognome: @Model.Cognome</li>
        <li>Indirizzo: @Model.Indirizzo</li>
        <li>Codice Fiscale: @Model.CodiceFiscale</li>
        <li>Coniugato: @(Model.Coniugato ? "Sposato" : "Libero")</li>
        <li>Figli: @Model.Figli</li>
        <li>Mansione: @Model.Mansione</li>
    </ul>
</div>
