@section Title{
    Lista Dipendenti
}

<div class="tabella">
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Indirizzo</th>
                <th>Codice Fiscale</th>
                <th>Sposato</th>
                <th>Figli</th>
                <th>Mansione</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
           
                @foreach(var dipendente in Model)
                {
                <tr>
                    <td>@dipendente.IDdipendente</td>
                    <td>@dipendente.Nome</td>
                    <td>@dipendente.Cognome</td>
                    <td>@dipendente.Indirizzo</td>
                    <td>@dipendente.CodiceFiscale</td>
                    <td>@(dipendente.Coniugato ? "Sposato" : "Libero")</td>
                    <td>@dipendente.Figli</td>
                    <td>@dipendente.Mansione</td>
                    <td><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Details" asp-route-id="@dipendente.IDdipendente">Dettagli</a></td>
                </tr>
            }
               
            
        </tbody>
    </table>
</div>
